<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Automated Road Damage Detection Using UAV Images and Deep Learning Techniques</title>
<meta name="keywords" content="Specific Template, HTML CSS, free website template" />
<meta name="description" content="Specific Template is a free website template provided by TemplateMo.com" />
<link rel="stylesheet" href="{{ url_for('static', filename='templatemo_style.css') }}">
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;
	var y=document.forms["f1"]["t2"].value;
	if(x == null || x==""){
		window.alert("Drone Image must be upload");
		document.f1.t1.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

    	<div id="title">
		Automated Road Damage Detection Using UAV Images and Deep Learning Techniques</center>
            
        </div>
        

    </div> <!-- end of header -->
    
</div> <!-- end of header wrapper -->

<div id="templatemo_menu_wrapper">

    <div id="templatemo_menu">
          <ul>
      <li class="nlink"><a href="Predict"><font size="" color="white">Road&nbsp;Damage&nbsp;Detection</a></li>
	   <li class="nlink"><a href="index"><font size="" color="white">Logout</a></li>
      
   </ul>
  </div>
  <div class="entry">
   <br/><br/><br/>
<br/>
			
	
			<br/>
	 <br> <br><br/>
	 <div class="msg"><font size="3" color="red"><center>{{ msg|safe }}</center></font></div>
	 <br>
	  <center><font size="4" color="black"><h3>Road Damage Detection Screen</font></center>
<form name ="f1" method="post" action="/PredictAction" enctype="multipart/form-data" onsubmit="return validate(this);">
	<br><br>

	<TABLE align=center width="30%" class="notepad">
		<TR><TH align="left"><font size="2" color="black">Browse&nbsp;Image</font>
		<TD>&nbsp;<Input type="file" name="t1" value='' size="120">
		<div id='nameid'></div>
		</TD>
		</TR>
		
		  <TR>
				 <TD></TD>
			<TD>	
		  <input type="submit" value="Submit">
		 
		  </TABLE>
		
</form>
</div>

</body>
</html>
